<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8"/>

		<title>AMI wizard</title>

		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/font-awesome.min.css" />

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/wizard.js"></script>

		<style type="text/css">
			.navbar-default,
			.modal-header {
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
				background: rgb(255, 255, 255) url("images/stripe1.png");
			}


			.modal-footer {
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				background: rgb(245, 245, 245) url("images/stripe2.png");
			}
		</style>
	</head>
	<body style="background: white url('images/background.jpg') fixed;">

		<nav class="navbar navbar-expand-md border-bottom navbar-light bg-light">
			<span class="navbar-brand py-0">
				<img src="images/logo.png" alt="Logo" style="height: 40px;" />
			</span>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#ami_navbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="ami_navbar">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="mailto:ami@lpsc.in2p3.fr"></i> Contact</a></li>
					<li class="nav-item"><a class="nav-link" href="http://www.cern.ch/ami/" target="_blank">About</a></li>
				</ul>
			</div>
		</nav>

		<div class="modal-dialog modal-lg mb-2">
			<form method="post" action="" class="modal-content" onsubmit="return validateForm();">

				<div class="modal-header px-3 py-2">
					<h3 class="modal-title"><i class="fa fa-magic"></i> AMI wizard</h3>
				</div>

				<div class="modal-body">

					<div id="message"></div>

					<div class="row">

						<div class="col-md-2 text-center text-primary" style="padding-top: 20px;">
							<i class="fa fa-server fa-5x"></i>
						</div>

						<div class="col-md-10">

							<h5 class="text-right"><span class="badge badge-dark">Server</span></h5>

							<div class="form-group">
								<label for="host" class="control-label">host<sup class="text-danger">*</sup></label>
								<input type="text" class="form-control" name="host" value="{{HOST}}" id="host" required="required" />
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="admin_user" class="control-label">admin_user<sup class="text-danger">*</sup></label>
										<input type="text" class="form-control" name="admin_user" value="{{ADMIN_USER}}" id="admin_user" required="required" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="admin_pass" class="control-label">admin_pass<sup class="text-danger">*</sup></label>
										<input type="text" class="form-control" name="admin_pass" value="{{ADMIN_PASS}}" id="admin_pass" required="required" />
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="admin_email" class="control-label">admin_email<sup class="text-danger">*</sup></label>
								<input type="email" class="form-control" name="admin_email" value="{{ADMIN_EMAIL}}" id="admin_email" required="required" />
							</div>

							<div class="form-group">
								<label for="encryption_key" class="control-label">encryption_key<sup class="text-danger">*</sup></label>
								<div class="input-group">
									<input type="text" class="form-control" name="encryption_key" value="{{ENCRYPTION_KEY}}" id="encryption_key" required="required" />
									<div class="input-group-append">
										<button type="button" class="btn btn-outline-secondary" onclick="generateEncryptionKey();"><i class="fa fa-cog"></i> Generate</button>
									</div>
								</div>
							</div>

						</div>

					</div>

					<div class="row">

						<div class="col-md-2 text-center text-primary" style="padding-top: 20px;">
							<i class="fa fa-database fa-5x"></i>
						</div>

						<div class="col-md-10">

							<h5 class="text-right"><span class="badge badge-dark">AMI database</span></h5>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="router_catalog" class="control-label">catalog<sup class="text-danger">*</sup></label>
										<input type="text" class="form-control" name="router_catalog" value="{{ROUTER_CATALOG}}" id="router_catalog" required="required" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="route_schema" class="control-label">schema<sup class="text-info">opt</sup></label>
										<input type="text" class="form-control" name="router_schema" value="{{ROUTER_SCHEMA}}" id="route_schema" xxxxxxxx="xxxxxxxx" />
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="router_url" class="control-label">url<sup class="text-danger">*</sup></label>
								<input type="text" class="form-control" name="router_url" value="{{ROUTER_URL}}" id="router_url" required="required" />
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="router_user" class="control-label">user<sup class="text-danger">*</sup></label>
										<input type="text" class="form-control" name="router_user" value="{{ROUTER_USER}}" id="router_user" required="required" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="router_pass" class="control-label">pass<sup class="text-danger">*</sup></label>
										<input type="text" class="form-control" name="router_pass" value="{{ROUTER_PASS}}" id="router_pass" required="required" />
									</div>
								</div>
							</div>

							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" name="router_reset" id="router_reset">
								<label class="custom-control-label" for="router_reset">Reset the AMI database</label>
							</div>

							<input type="hidden" name="Level" value="3" />

						</div>

					</div>

				</div>

				<div class="modal-footer px-3 py-2">
					<button type="submit" class="btn btn-outline-primary" id="next"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></button>
				</div>

			</form>
		</div>

		<p class="text-center">Copyright © 2001-{{YEAR}}, <a href="http://lpsc.in2p3.fr/" target="_blank">LPSC/CNRS</a>. All right reserved.</p>

		<script type="text/javascript">

			$('.amitt').tooltip({delay: {show: 500, hide: 100}});

		</script>

	</body>
</html>
