<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8"/>

		<title>AMI setup</title>

		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/font-awesome.min.css" />

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>

		<style type="text/css">
			.navbar-default,
			.modal-header {
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
				background: rgb(255, 255, 255) url("images/stripe1.png");
			}


			.modal-footer {
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				background: rgb(245, 245, 245) url("images/stripe2.png");
			}
		</style>

		<script type="text/javascript">

			function validateForm()
			{
				var error = '';

				$.each($(':input').serializeArray(), function(index, param) {

					if(param.name !== 'admin_pass' && param.name !== 'guest_pass' && param.name !== 'router_pass' && param.value === '') {
						error += ' Field `' + param.name + '` empty.';
					}
				});

				if(error !== '')
				{
					error = '<div class="alert alert-danger alert-dismissible">\n'
						+
					        '  <button class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>\n'
						+
					        '  <strong>Error!</strong>' + error + '\n'
						+
					        '</div>'
					;

					$('#message').html(error);

					$(document).scrollTop(0);

					return false;
				}

				return true;
			}

		</script>
	</head>
	<body style="background: white url('images/background.jpg') fixed;">

		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header" style="line-height: 46px;">
					<button class="navbar-toggle" data-toggle="collapse" data-target="#ami_navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<img src="images/logo.png" alt="Logo" style="max-height: 44px;" />
				</div>
				<div class="collapse navbar-collapse" id="ami_navbar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="mailto:ami@lpsc.in2p3.fr"><i class="fa fa-envelope-o"></i> Contact</a></li>
						<li><a href="http://www.cern.ch/ami/" target="_blank">About</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="modal-dialog modal-lg">
			<form method="post" action="" class="modal-content" onsubmit="return validateForm();">

				<div class="modal-header">
					<h3 class="modal-title"><i class="fa fa-magic"></i> AMI setup</h3>
				</div>

				<div class="modal-body">

					<div id="message"></div>

					<div class="row">

						<div class="col-md-2 text-center">
							<i class="fa fa-server fa-5x"></i>
						</div>

						<div class="col-md-10">

							<div class="text-right"><kbd>Server</kbd></div>

							<div class="form-group">
								<label for="host" class="control-label">host<span class="text-danger">*</span> <span class="amitt" data-toggle="tooltip" data-title="?"><i class="fa fa-question-circle"></i></span></label>
								<input type="text" name="host" value="{{HOST}}" class="form-control" id="host" />
							</div>

							<div class="form-group">
								<label for="agent" class="control-label">agent<span class="text-danger">*</span> <span class="amitt" data-toggle="tooltip" data-title="?"><i class="fa fa-question-circle"></i></span></label>
								<input type="text" name="agent" value="{{AGENT}}" class="form-control" id="agent" />
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="admin_user" class="control-label">admin_user<span class="text-danger">*</span> <span class="amitt" data-toggle="tooltip" data-title="?"><i class="fa fa-question-circle"></i></span></label>
										<input type="text" name="admin_user" value="{{ADMIN_USER}}" class="form-control" id="admin_user" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="admin_pass" class="control-label">admin_pass <span class="amitt" data-toggle="tooltip" data-title="?"><i class="fa fa-question-circle"></i></span></label>
										<input type="text" name="admin_pass" value="{{ADMIN_PASS}}" autocomplete="off" class="form-control" id="admin_pass" />
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="encryption_key" class="control-label">encryption_key<span class="text-danger">*</span> <span class="amitt" data-toggle="tooltip" data-title="?"><i class="fa fa-question-circle"></i></span></label>
								<input type="text" name="encryption_key" value="{{ENCRYPTION_KEY}}" autocomplete="off" class="form-control" id="encryption_key" />
							</div>

						</div>

					</div>

					<div class="row">

						<div class="col-md-2 text-center">
							<i class="fa fa-database fa-5x"></i>
						</div>

						<div class="col-md-10">

							<div class="text-right"><kbd>AMI database</kbd></div>

							<div class="form-group">
								<label for="router" class="control-label">name<span class="text-danger">*</span> <span class="amitt" data-toggle="tooltip" data-title="?"><i class="fa fa-question-circle"></i></span></label>
								<input type="text" name="router" value="{{ROUTER}}" class="form-control" id="router" />
							</div>

							<div class="form-group">
								<label for="router_url" class="control-label">url<span class="text-danger">*</span> <span class="amitt" data-toggle="tooltip" data-title="?"><i class="fa fa-question-circle"></i></span></label>
								<input type="text" name="router_url" value="{{ROUTER_URL}}" class="form-control" id="router_url" />
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="router_user" class="control-label">user<span class="text-danger">*</span> <span class="amitt" data-toggle="tooltip" data-title="?"><i class="fa fa-question-circle"></i></span></label>
										<input type="text" name="router_user" value="{{ROUTER_USER}}" class="form-control" id="router_user" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="router_pass" class="control-label">pass <span class="amitt" data-toggle="tooltip" data-title="?"><i class="fa fa-question-circle"></i></span></label>
										<input type="text" name="router_pass" value="{{ROUTER_PASS}}" autocomplete="off" class="form-control" id="router_pass" />
									</div>
								</div>
							</div>

							<div class="checkbox">
								<label>
									<input type="checkbox" name="router_reset"> Reset database
								</label>
							</div>

							<input type="hidden" name="Level" value="3" />

						</div>

					</div>

				</div>

				<div class="modal-footer">
					<button type="submit" class="btn btn-primary"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></button>
				</div>

			</form>
		</div>

		<script type="text/javascript">

			$('.amitt').tooltip({delay: {show: 500, hide: 100}});

		</script>

	</body>
</html>
